.e-accordion {
    display: flex;
    flex-direction: column !important;

    &__short:hover {
        cursor: pointer;
    }

    &__more {
        display: none !important;

        &.visible {
            display: block !important;
        }
    }
}   