@use 'breakpoints' as *;

.theme {
    background-color: var(--color-default);
}

body * {
    box-sizing: border-box;
}

@include desktop-breakpoint {
    .grid {
        display: flex !important;
        flex-direction: column;
    }

    .grid > * {
        width: 100%;
        &:not(:last-child) {
            margin-bottom: var(--row-gap);
        }
    }
};