 .grid {
    display: grid;
    column-gap: var(--column-gap, 0);
    row-gap: var(--row-gap, 0);

    &_m-columns {
        $columns-values: (10, 12);

        @each $columns in $columns-values {
            &_#{$columns} {
                grid-template-columns: repeat($columns, 1fr);
            }
        }
    }

    &_col-gap {
        &_two-thirds {
            --column-gap: calc(var(--gap) * 2 / 3);
        }

        &_full {
            --column-gap: var(--gap);
        }

        &_half {
            --column-gap: calc(var(--gap) / 2);
        }
    }

    &_row-gap {
        &_full {
            --row-gap: var(--gap);
        }

        &_half {
            --row-gap: calc(var(--gap) / 2);
        }
    }
}