.theme_color_project-default {
  --color-default: #fff;
  --color-accent: #FC0;
  --color-border: #000;
  --color-text-primary: #000;
  --color-text-secondary: rgba(0, 0, 0, 0.6);
  --color-text-ghost: rgba(0, 0, 0, 0.3);
  --color-text-link: #07f;
}
.theme_color_project-brand {
  --color-default: #07f;
  --color-accent: #fff;
  --color-border: #fff;
  --color-text-primary: #fff;
  --color-text-secondary: rgba(255, 255, 255, 0.6);
  --color-text-ghost: rgba(255, 255, 255, 0.3);
  --color-text-link: #fff;
}
.theme_color_project-inverse {
  --color-default: #000;
  --color-accent: #fff;
  --color-border: #fff;
  --color-text-primary: #fff;
  --color-text-secondary: rgba(255, 255, 255, 0.6);
  --color-text-ghost: rgba(255, 255, 255, 0.3);
  --color-text-link: #07f;
}
.theme_color_project-warning {
  --color-default: #f33;
  --color-accent: #fff;
  --color-border: #f33;
  --color-text-primary: #fff;
  --color-text-secondary: rgba(255, 255, 255, 0.6);
  --color-text-ghost: rgba(255, 255, 255, 0.3);
  --color-text-link: #fff;
}
.theme_space_default {
  --space-xxxs: 3px;
  --space-xxs: 6px;
  --space-xs: 9px;
  --space-s: 15px;
  --space-m: 18px;
  --space-l: 24px;
  --space-xl: 27px;
  --space-xxl: 36px;
  --space-xxxl: 45px;
  --space-xxxxl: 51px;
  --space-xxxxxl: 72px;
}