.onoffswitch {
    width: 97px;
    height: 32px;
    border: 3px solid var(--color-border);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 calc((32px - 24px) / 2 - 3px);

    &_checked {
        justify-content: flex-end;
    }
    
    &__button {
        width: 24px;
        height: 24px;
        background-color: var(--color-border);
    }
}