.product {
    min-height: 300px;
    border: 3px solid var(--color-border);
    position: relative;

    &__image {
        height: 160px;
    }

    &__title {
        margin-bottom: var(--space-xxxxl);
    }

    &__footer {
        position: absolute;
        bottom: 0;
    }
}