.text__word {
    $word-sizes: ('s', 'm', 'l');

    display: inline-block;
    height: var(--font-size);
    background-color: currentColor;

    &_width {
        @each $word-size in $word-sizes {
            &_#{$word-size} {
                width: var(--word-width-#{$word-size});
                margin: calc(var(--word-spacing) - var(--word-spacing-diff, 0px)) 0 calc(var(--word-spacing) + var(--word-spacing-diff, 0px)) 0;
            }
        }
    }
}